*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 300px;
    height:100vh;
    display: flex;
    flex: 0 0 300px;
    align-items: left;
    flex-direction: column;
    justify-content: space-around;
    background-color: pink;
    
}

nav ul a{
    text-decoration: none;
    color: black;
}
body{
    display: flex;
    background-color: gray;
}

main{
    display: flex;
    margin-top: 100px;
    width: 100%;
    flex-direction: column;

}

.row{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
}

.card{
    background-color: orange;
    flex: 0 0 300px;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
    height: 300px;
}

.card h1{
    margin-bottom: 20px;
}

@media screen and (min-width:600px) {
    .row{
        flex-wrap: wrap;
        flex: 0 0 40%;
    }
    
}
