@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

h1{
    color:darkcyan;
    text-align: center;
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    background-color: orange;
    padding: 50px;
}

img{
    /* display: block;
    margin:auto; */
    float: left;
}