body{
    background-color: black;
    color: azure;
}

@media print {
    body{
        background-color: white;
        color:black;
    };
    
}

@media screen and (max-width:500px) {
    body{
        background-color: green;
    }
    .img1{
        display:none;
    }
    
}

@media screen and (min-width:501px){
    body{
        background-color: aqua;
    }
    .img1{
        display: none;
    }
    .img2{
        display: none;
    }
}


@media screen and (min-width:801px) {
    body{
        background-color: red;
    }
    .img1{
        display: block;
    }
    
}



/* @media screen and (orientation: landscape){
    body{
        background-color: green;
    }
}

@media screen and (orientation: portrait){
    body{
        background-color: rgb(128, 0, 15);
    }
} */

/* @media screen and (max-width:500px){
    body{
        background-color: green;
    }
}

@media screen and (min-width:500px){
    body{
        background-color: red;
    }
}

@media screen and (min-width:700px){
    body{
        background-color: rgb(38, 0, 128);
    }
} */