*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(71, 69, 69);

}
nav ul{
    width:400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

nav ul a{
    text-decoration: none;
    color: white;
}

nav ul a:hover{
    color: orange;
}

.logo{
    width: 100px;
    border-radius: 50%;
    padding: 10px;
}

main{
    margin: 0px 70px;
    margin-top: 100px;
}

.card{
    /* flex-shrink: 0;
    flex-grow: 0;
    width: 300px;
    flex-basis: 300px; */
    flex: 0 0 250px;
    padding: 25px;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
}

.card img{
    width: 70%;
    border-radius: 50%;
}
.row{
    display: flex;
    justify-content: space-around;
    gap:30px;
}

.card button{
    border:none;
    background-color: lightblue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 20px;
}
footer{
    height:200px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(71, 69, 69);
}

.add{
    text-decoration: none;
    text-align: left;
    display: flex;
    justify-content: space-around;
    color: white;
    width:400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul{
    width:400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    flex-direction: column;

}

footer ul a{
    text-decoration: none;
    color: white;
}

footer ul a:hover{
    color: orange;
}

@media screen and (max-width:700px) {
    .row{
        flex-wrap: wrap;
        flex:0 0 40%;
    }    
    
    nav{
        flex-direction: column;
        align-items: center;
    }

    nav ul{
        flex-direction: column;
    }

    footer{
        flex-direction: column;
    }

    footer ul{
        flex-direction: column
    }

    footer ul li{
        padding: 10px;;
    }
}