*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* :root{ */
    /* define a var */
    /* --heading-color:#ceba21e7; */
    /* --button-color:#0759b7e7; */
/* } */
/* 
h1{
    color:var(--heading-color);
}

button{
    background-color: var();
} */

:root{
    --heading-color:#2854c5;
}

div{
    text-align: center;
}
h1{
    /* clamp(min-fs,viewport width,max-fs) */
    color:var(--heading-color);
    font-size: clamp(1.5rem,10vw,5rem);
}

img{
    width: 100%;
    /* hook it/limit it */
    max-width:500px;
}