* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 800px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid gray;
    /* making parent grid container */
    display: grid;
    /* decide no of cols and rows */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* grid-template-column */
    gap: 10px;

}


.child1 {
    /* grid-column-start: 1;
    grid-column-end:3 ; */
    grid-column: 1 / 3;
    /* grid-row-start: 1;
    grid-row-end:3 ; */
    grid-row: 1 / 3;
    background-color: red;
}

.child2 {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    background-color: rgb(38, 0, 255);
}

.child3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: orange
}

.child4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: orange
}

.child5 {
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    background-color: darkblue
}

.child6{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    background-color: green
}

.child7{
    grid-column: 4 / 5;
    grid-row: 2 / 5;
    background-color:brown
}